<div class="container-fluid p-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        
        <%- include('../../components/backButton.ejs') %>

        <div class="w-100 text-center me-4 me-md-5">
            <h1 class="fw-bold">Editar Usuário</h1>
            <p class="text-muted">Altere os dados abaixo para atualizar as informações do usuário.</p>
        </div>

    </div>

    <form id="userForm">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= users.name_users %>" required>
        </div>

        <div class="mb-3">
            <label for="registration" class="form-label">Matrícula (opcional)</label>
            <input type="text" class="form-control" id="registration" name="registration" value="<%= users.registration_users %>" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= users.email_users %>" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Nova Senha (opcional)</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="mb-3">
            <label for="profile" class="form-label">Perfil</label>
            <select class="form-control" id="profile" name="profile" required>
                <% profiles.forEach(profile => { %>
                    <option value="<%= profile.name_profile %>" <%= profile.id_profile === users.id_profile ? 'selected' : '' %>><%= profile.name_profile %></option>
                <% }); %>
            </select>
        </div>

        <div class="mb-3">
            <label for="store" class="form-label">Loja</label>
            <select class="form-control" id="store" name="store" 
                    <%= users.id_profile === 1 ? 'disabled' : '' %> required>
                <% stores.forEach(store => { %>
                    <option value="<%= store.number_store %>" 
                            <%= store.id_store === users.id_store ? 'selected' : '' %>>
                        <%= store.id_store === 1 ? store.name_store : (store.number_store === '0' ? 'Matriz' : store.number_store) %>
                    </option>
                <% }); %>
            </select>
        </div>

        <div class="text-center mb-4">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-3 mb-2">
                    <button type="submit" id="submitBtn" class="btn btn-custom w-100">
                        <i class="fas fa-save"></i> Salvar Alterações
                    </button>
                </div>
            </div>
        </div>
        
    </form>
</div>
