    <div class="text-center mb-4">
        <h1 class="fw-bold">Gestão de Usuários</h1>
        <p class="text-muted">Veja a lista de usuários cadastrados e suas respectivas situações.</p>
    </div>

    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Buscar por Matrícula">
                    <div class="input-icon">
                          <i class="fas fa-search"></i>
                    </div>
                    <button class="btn btn-success" id="searchUserBtn" style="background-color: #269447; color: #fff;" >Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead style="background-color: #269447; color: #fff;">
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Loja</th>
                <th>E-mail</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% if(users && users.length > 0){ %>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name_users %></td>
                        <td><%= user.profile.name_profile %></td>
                        <td>
                            <%= user.store.number_store === '000' ? 'Nenhuma' : user.store.number_store === '0' ? 'Matriz' : user.store.number_store %>
                        </td>
                        <td><%= user.email_users %></td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-warning editUser" data-registration="<%= user.registration_users %>" data-url="/users/edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger deleteUser" data-registration="<%= user.registration_users %>">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                <% }) %>
            <% }else{ %>
                <tr>
                    <td colspan="5">Nenhum usuário encontrado.</td>
                </tr>
            <% } %>   
        </tbody>
    </table>

    <div class="text-center">
        <%- include('../../components/pagination', { currentPage, totalPages }) %>
    </div>

    <div class="text-center mb-4">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <button class="btn btn-custom w-100" type="button" id="addUserBtn" data-url="/users/add">
                    <i class="fas fa-plus-circle"></i> Cadastrar Novo Usuário
                </button>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-2">
                <button class="btn btn-secondary w-100" type="button" id="exportUserCsvBtn">
                    <i class="fas fa-file-export"></i> Exportar CSV
                </button>
            </div>
        </div>
    </div>