<div class="container-fluid p-4">
    <!-- Cabeçalho -->
    <div class="text-center mb-4">
        <h1 class="fw-bold">Gestão de Usuários</h1>
        <p class="text-muted">Veja a lista de usuários cadastrados e suas respectivas situações.</p>
    </div>

    <!-- Barra de busca e botão de cadastro -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style="max-width: 300px;">
            <input type="text" id="search" class="form-control" placeholder="Buscar por Matrícula">
            <button class="btn btn-success" id="searchBtn" style="background-color: #269447; color: #fff;" >Buscar</button>
        </div>
    </div>

    <!-- Tabela de usuários -->
    <table class="table table-bordered table-hover">
        <thead style="background-color: #269447; color: #fff;">
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Loja</th>
                <th>E-mail</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% if(users && users.length > 0){ %>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name_users %></td>
                        <td><%= user.profile.name_profile %></td>
                        <td><%= user.store.number_store %></td>
                        <td><%= user.email_users %></td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-warning editar" data-registration="<%= user.registration_users %>">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger deletar" data-registration="<%= user.registration_users %>">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                <% }) %>
            <% }else{ %>
                <tr>
                    <td colspan="5">Nenhum usuário encontrado.</td>
                </tr>
            <% } %>   
        </tbody>
    </table>

    <!-- Botão de cadastrar novo usuário -->
    <div class="text-end mb-3">
        <button class="btn btn-success" id="addUserBtn">Cadastrar Novo Usuário</button>
    </div>
</div>