<% users.forEach(user => { %>
    <tr>
        <td><%= user.name_users %></td>
        <td><%= user.profile.name_profile %></td>
        <td><%= user.store.number_store %></td>
        <td><%= user.email_users %></td>
        <td class="text-center">
            <button class="btn btn-sm btn-warning editar" data-registration="<%= user.registration_users %>">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger deletar" data-registration="<%= user.registration_users %>">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
    <% }) %>
    