<div class="text-center mb-4">
    <h1 class="fw-bold">Gestão de Estoque</h1>
    <p class="text-muted">Veja o estoque de talões de cada loja.</p>
</div>

<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 mb-4">
            <div class="input-group">
                <input type="text" class="form-control" id="search" placeholder="Buscar por Loja">
                <div class="input-icon">
                      <i class="fas fa-search"></i>
                </div>
                <button class="btn btn-success" id="searchStockBtn" style="background-color: #269447; color: #fff;" >Buscar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead style="background-color: #269447; color: #fff;">
        <tr>
            <th>Loja</th>
            <th>Estoque Atual</th>
            <th>Estoque Mínimo</th>
            <th>Estoque Recomendado</th>
            <th>Status</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% if (stocks && stocks.length > 0) { %>
            <% stocks.forEach(stock => { %>
                <tr>
                    <td>
                        <%= stock.Store && stock.Store.number_store === '0' ? 'Matriz' : (stock.Store ? stock.Store.number_store : 'Sem loja associada') %>
                    </td>
                    <td><%= stock.current_stock %></td>
                    <td><%= stock.minimum_stock %></td>
                    <td><%= stock.recommended_stock %></td>
                    <td><%= stock.status_stock %></td>
                    <td class="text-center">
                        <button 
                            class="btn btn-sm btn-warning editStock" 
                            data-id="<%= stock.id_stock ? stock.id_stock : '' %>" 
                            data-url="/stocks/edit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>                
                </tr>
            <% }) %>
        <% } else { %>
            <tr>
                <td colspan="7">Nenhum estoque encontrado.</td>
            </tr>
        <% } %>
    </tbody>
</table>

<div class="text-center">
    <%- include('../../components/pagination', { currentPage, totalPages }) %>
</div>

<div class="text-center mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-3 mb-2">
            <button class="btn btn-secondary w-100" type="button" id="exportStockCsvBtn">
                <i class="fas fa-file-export"></i> Exportar CSV
            </button>
        </div>
    </div>
</div>